body {
    display: grid;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    height: 350px;
    max-height: 350px;
    background: rgb(255, 255, 255);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "h"
        "b"
        "f";
}
.header {
    grid-area: h;
    grid-column: 1 / span 8;
    grid-row: 1;
    /* border: 1px solid #E9E8E8; */
}
.body {
    /* display: grid; */
    grid-area: b;
    grid-column: 1 / span 8;
    grid-row: 2 / span 6;
    /* z-index: -1; */
    /* border: 1px solid #E9E8E8; */
}
.footer {
    grid-area: f;
    grid-column: 1 / span 8;
    grid-row: 8;
    /* border: 1px solid #E9E8E8; */
}
